body {
  background-image: url("https://www.dropbox.com/s/or796zg33z3xa5u/rain-316579.jpg?dl=1");
  #cccccc


  background-size: auto;
  }

h1 {
  color: white;
}

h1:hover {
  color: blue;
  text-shadow: -5px -5px 0 #fff,
              5px -5px 0 #fff,
              -5px -5px 0 #fff,
              5px -5px 0 #fff;
}

#div1 {
  display: table-cell;
  vertical-align: middle;
}

#can {
  border: solid 1px black;

}
